.layout-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background: #F3F3E7;
}
  
.layout-body {
    display: flex;
    flex: 1;
    overflow: hidden;   
}
  
.layout-main {
    flex: 1;
    overflow-y: auto;
    background: #F3F3E7;
}
  