.layout-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.layout-body {
    display: flex;
    flex: 1;
}
  
.layout-main {
    flex: 1;
    background: #F3F3E7;
    padding-left: calc(64px + 1.5rem); 
}
  